{% extends "MainApp/base.html" %}

{% block page_header %}
<h3>{{ topic }}</h3>
{% endblock page_header %}

{% block content %}

<p>
    <a href="{% url 'MainApp:new_entry' topic.id %}">add a new entry</a>
</p>


{% for e in entries %}
<div class="card mb-3">
    <h4 class="card-header">
        {{ e.date_added }}
        <small><a href="{% url 'MainApp:edit_entry' e.id %}">
                edit entry</a></small>
    </h4>
    <div class="card-body">
        {{ e.text|linebreaks }}
    </div>
</div>

{% empty %}
<li> There are no entries for this topic yet.</li>
{% endfor %}


{% endblock content %}